link(rel='stylesheet',href='stylesheets/style.css')
.login
  h1 ACET PRINCIPAL
  form(method='post' action='login')
    input(type='text', name='Username', placeholder='Username', required='required')
    input(type='password', name='Password', placeholder='Password', required='required')
    button.btn.btn-primary.btn-block.btn-large(type='submit') Let me in.
